body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigationLogo {
  height: 35px;
  border-radius: 10px;
  margin-right: 10px;
}

.homeContainer {
  margin-top: 100px;
}

.homePageMainHeading {
  font-size: 70px;
}

.homePageMinorText {
  font-size: 30px;
  margin-bottom: 50px;
}

.homePageMainLogo {
  height: 300px;
  border-radius: 50px;
}

.privacyPolicyContainer {
  text-align: left;
  margin: 50px;
}

.tableContainer {
  border: 1px solid black;
  margin-bottom: 25px;
}

.tableContainerRow {
  border: 1px solid black;
}

.tableElement {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.faqAccordianWrapper {
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.faqHeader {
  text-align: left;
}

.supportPageWrapper {
  margin: 25px;
}

.faqParagraph {
  text-align: left;
}

.underConstructionContainer {
  margin: 100px;
}

.appInfoContainer {
  margin: 25px;
}
